/* Reset some default styles */
body, header, nav ul, nav ul li, nav ul li a, main, footer {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f2f2f2;
    line-height: 1.6;
  }
  
  header, footer {
    background-color: #24ac30;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: circle;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #0e0d0d;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color:orange;
    border: 3px solid orange;
  }
  
  main {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  main h1 {
    font-size: 36px;
    color: #333;
  }
  
  main p {
    font-size: 18px;
    color: #555;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  /* Additional styles for specific elements */
  
  img {
    width: 450px;
  }
  
  /* Style for form elements */
  label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  